body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: #00000020;
  padding: '0 2px 0 2px';
  border-radius: 2px;
}

#submitStyles {
  height: 40px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
  background-color: #808080;
  border-width: 0px;
  border-radius: 7px;
  line-height: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submitStyles:hover {
  animation: pradient 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes pradient {
  50% {
    background: linear-gradient(
      315deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(149, 29, 253, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      315deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
  }
}

#submitStyles:active {
  opacity: 0.7;
}

#selectorInfo:hover > #selectorInfo_trash {
  opacity: 1!important;
}

#selectorList:hover > #editNote {
  opacity: 0.7!important;
}

#selectorInfo_trash:hover {
  background-color: rgba(0, 0, 0, 0.1)!important;
}

.rainbow {
  background: linear-gradient(45deg, #ff0011, orange 35%, #fc59ffb0 40%, yellow 50%, #00d200, #3939ff 90%, #9646ff 95%);
}